@hendec:registry=http://192.168.100.10:4873
//192.168.100.10:4873/:_authToken=YzQ5MDc4OTkwNTdkOGRiMTBhNzRiZjM4YzZmYTM1ODc6NjhhYTRjNDhkMzgzNGQ3NjVlOGRkNmQ4OGE5NmYxOGI3MGJmYmNjYzQ2NzI2OGQzN2ZkMDkwNWI2ZQ==
always-auth=true
