server {
  listen 80;

  location / {
    root /usr/share/nginx/html;
    index index.html;
    try_files $uri /index.html;
  }

  # Mini lib
  location ${VITE_API_MINILIB_ROUTE} {
    proxy_pass http://${VITE_API_MINILIB_HOST}:${VITE_API_MINILIB_PORT}/;
  }

}